body{
    margin: 0px;
    background-image: url("image/background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

button:active{
    background-color: rgb(11, 204, 218);
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area{
    border: 1px solid lightgray;
}

.task-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    border-bottom: 1px solid lightgray;
}

.task-tabs{
    display: flex;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: aqua;
    position: absolute;
    width: 65px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task-false{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid lightgray;
}

.task-true{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid lightgray;
    background-color: rgb(141, 142, 142);
}

.task-done{
    text-decoration: line-through;
    
}

.task-tabs div{
    cursor: pointer;
}

.button-delete{
    border-radius: 20px;
    background-color: rgb(240, 182, 7);
}